* { padding : 0;margin : 0;}
body { font-size:15px; background-color: #010E16;} 
.HeadBody {width:100%; height:89px; border: 0px;}
.HeadBodyRight {width:830px; height:89px; background-image: url('images/HeadBodyRight.png'); background-repeat: no-repeat; background-size: 100% 100%; border: 0px;} 
.HeadBodyLeft {height:89px; background-image: url('images/HeadBodyLeft.png'); background-repeat: no-repeat; background-size: 100% 100%; border: 0px;} 
.inputAuth{ width:130px; height:25px; background-image: url('images/inputAuth.gif'); background-repeat: no-repeat; background-size: 100% 100%; border:0px; color:#ffffff; text-indent: 4px;}

a.btnAuth:hover {background-position: 100% -25px;}
a.btnAuth:hover span {background-position: 0% -25px;color: #ffffff;}

.headNav { width:980px; height:84px; background-image: url('images/navbg.gif');background-size: 100% 100%; }
.headNav a {text-decoration: none; font-size:22px; margin-left:20px; position:relative; top: 30px; color:#0AADD2;}
.headNav a:hover {color: #ffffff;}
.MainBg {background-image: url('images/bg-subpage.jpg'); background-position: 0% 0%; background-repeat: no-repeat; background-size: 100% auto; width: 100%; min-height: 572px; color:#ffffff; padding-top:25px; padding-bottom:25px;}

td.Box a {text-decoration: none; color:#0AADD2; font-size:17px; }
td.Box a:hover {color: #ffffff;}
.BoxButton {height:25px; background-image: url('images/btnBG.gif'); background-color:#0F3649; border:1px; font-size:14px; border-radius:3px; color:#ffffff; cursor: pointer;}

.boxCenter { width: 95%; min-height: 530px; background-image: url('images/boxCenterBg.png');}
.boxCenterGame { width: 95%; min-height: 530px;}
.boxTitle {height:40px; color: #ffffd2; font-size:23px;}
.boxRight {background-image: url('images/bg-box-right.png'); background-repeat: no-repeat; background-size: 100% 100%; border: 0px; width: 250px; height:540px;}
.boxLeft  {background-image: url('images/bg-box-left.png');  background-repeat: no-repeat; background-size: 100% 100%; border: 0px; width: 250px; height:540px;}
.boxLeftTitle { color:#ffffff; font-size:17px; padding: 10px;}
.boxRightTitle { color:#ffffff; font-size:17px; padding: 10px;}
.boxRightText { color:#0AADD2; font-size:15px; padding: 5px;}
.boxRightValue { color:#ffffff; font-size:15px; padding: 5px;}
.boxRight a {color:#6495ED; font-size:15px; padding: 10px; }
.boxRight a:hover {color:#ffffff; font-size:15px; padding: 10px; }

.NewsHead { padding-left:15%; }
.NewsHeadHR { background:#0AADD2; width:90%; border:0px;}
.NewsBody { padding-left: 10%; padding-right:10%; color:#0AADD2;}
.NewsFotter { padding-right:15%;}

.footer {width:100%; height:84px; background-image: url('images/navbg.gif'); background-repeat: no-repeat; background-size: 100% 100%; color:#0AADD2; text-decoration: none;}

.shop { font-size:16px;}
.shop-msg { font-size:19px; color:#0AADD2;}